#grpcio==1.20.1
grpcio
#scikit-learn
scikit-learn==0.21
scikit-video
scikit-image
#tensorflow==1.15.0
#tensorflow
#tensorflow[and-cuda]
#tensorflow-addons

#future
#imageio==2.6.1
imageio
imageio
sporco

#opencv-python==4.1.2.30

#jupyter[notebook]
#jupyterlab
#ipywidgets==7.5
#ipywidgets
#jupyterlab_hdf
#jupyterlab_h5web
